{
    "folders":[
       {
          "name": "APP",
          "path":"/app"
       },
       {
          "name": "EXTERNAL SRC",
          "path":"/root/src"
       },
       {
          "name": "SITE PACKAGES",
          "path":"/usr/local/lib/python3.8/site-packages"
       }
    ],
    "settings":{
       "python.formatting.provider":"black",
       "[python]":{
          "editor.formatOnSave":true,
          "editor.codeActionsOnSave":{
             "source.organizeImports":true
          }
       }
    },
    "extensions":{
       "recommendations":[
          "batisteo.vscode-django",
          "ms-python.vscode-pylance",
          "ms-python.python",
          "kevinglasson.cornflakes-linter"
       ]
    }
 }
 